<div class="carousel carousel-slider center">
    <div class="carousel-item" href="#">
        <h2>Técnico docente de asignatura de E.S "A"</h2>
        <img
            src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
    </div>

    <div class="carousel-item" href="#">
        <h2>Técnico docente de asignatura de E.S "B"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
    </div>

    <div class="carousel-item" href="#">
        <h2>Técnico docente de asignatura de E.S "C"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
    </div>

    <div class="carousel-item" href="#">
        <h2>Técnico docente de carrera E.S asociado "A"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
    </div>
</div>