<div class="carousel carousel-slider center">
    <div class="carousel-item" href="">
        <h2>Técnico docente de asignatura de E.S "A"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
        <div class="carousel-fixed-item center">
       <a href="user/login" class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    </div>
    <div class="carousel-item" href="#">
        <h2>Técnico docente de asignatura de E.S "B"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
        <div class="carousel-fixed-item center">
       <a href="user/login" class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    </div>

    <div class="carousel-item" href="#">
        <h2>Técnico docente de asignatura de E.S "C"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
        <div class="carousel-fixed-item center">
       <a href="user/login" class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    </div>

    <div class="carousel-item" href="#">
        <h2>Técnico docente de carrera E.S asociado "A"</h2>
        <img src="https://static-cse.canva.com/blob/572639/1.magebyRodionKutsaevviaUnsplash.3f13ce82.avif" />
    </div>
</div>

<div class="header center " style="font-size: 20px;">
    <h1 class="black-text" >
        Convocatorias proximas a cerrar
    </h1>
</div>

  {{!-- Inicio de la Tercera Tarjeta --}}

  <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  amber lighten-1" >
        <span class=" white-text" style="font-size: 16px;">
            <p class="header center">TÉCNICO DOCENTE DE CARRERA E.S. ASOCIADO “A”</p>
            <p class="header center">Poseer título de licenciatura expedido por una institución de educación superior; o haber obtenido la pasantía en la misma con tres años de anterioridad a su ingreso o promoción.</p>
            <p class="header center">Fecha
            </p>
        </span>
         <div class="row center">
        <a href="user/register" id="download-button"
        class="btn waves-effect white grey-text darken-text-2">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  amber lighten-1" >
        <span class=" white-text" style="font-size: 16px;">
            <p class="header center">TÉCNICO DOCENTE DE CARRERA E.S. ASOCIADO “B”</p>
            <p class="header center" >Haber obtenido el título de licenciatura expedido por una institución de educación superior, por lo menos con dos años de anterioridad a su ingreso o promoción.</p>
            <p class="header center">Fecha
            </p>
        </span>
         <div class="row center">
        <a href="user/login" id="download-button"
        class="btn waves-effect white grey-text darken-text-2">
            Ver más...
        </a>
    </div>
      </div>
    </div>
    {{!-- Tercera tarjerta --}}
  <div class="row ">
    <div class="col  s9 m4" >
      <div class="card-panel  amber lighten-1" >
        <span class=" white-text" style="font-size: 16px;">
            <p class="header center">TÉCNICO DOCENTE DE ASIGNATURA DE E.S. “B”</p>
            <p class="header center" >Poseer título de licenciatura expedido por una institución de educación superior, por lo menos con un año de anterioridad a su ingreso o promoción.</p>
            <p class="header center">Fecha de termino.
            </p>
        </span>
         <div class="row center">
        <a href="user/login" id="download-button"
        class="btn waves-effect white grey-text darken-text-2">
            Ver más...
        </a>
    </div>
      </div>
    </div>
  </div>
  </div>
</div>
 